<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <h1>My Products (Home Page)</h1>
            <p>List of all the products</p>
            <div class="container">

                <% if(prods.length > 0){ %>

                <div class="row">

                    <% for(let product of prods){ %>

                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
                            <div class="card-body">
                                <h5 class="card-title text-center"><%= product.title %></h5>
                                <br>
                                <p class="card-text">$<%= product.price %></p>
                                <p class="card-text"><%= product.description %></p>
                                <div class="text-center">
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <% } %>

                </div>

                <% } else{ %>
                <p>no products found</p>
                <% } %>


            </div>

        </main>

        <%- include('../includes/end.ejs') %>
    </body>

</html>